
<%= form_for Produto.new do |f| %>
<div class="form-group">
  <%= f.label :nome %>
  <%= f.text_field :nome, class:"form-control" %>
<br>
</div>

<div class="form-group">
  <%= f.label :descrição %>
  <%= f.text_area :descricao, class:"form-control" %>
<br>
</div>
<div class="form-inline">
  <div class="form-group">
    <%= f.label :quantidade %>
    <%= f.number_field :quantidade, step: 1, class:"form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :preco %>
    <%= f.number_field :preco, class:"form-control"   %>
    <%= f.submit "Criar Produto", class:"btn btn-primary mb-2" %>
  </div>
</div>
<% end %>
</div>

